<html>
<title>{% block common_title %}{% endblock %}</title>
<head>
    {% block common_head %}{% endblock %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/js1.js"></script>
    {#    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>#}
</head>
<body>
{% load static i18n %}
<div class="container-fluid">
    <div class="row" style="text-align: right;">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a href="/"><img border="0" alt="Django" src="{% static "image/logo.png" %}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">{% trans "Домой" %} <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">{% trans "Админка" %}</a>
                        </li>
                        <li class="nav-item">
                            {#                    -------------------#}
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle"
                                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    <p>{{ LANGUAGE_CODE }}</p>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" href="/ru">ru</a>
                                    <a class="dropdown-item" href="/en">en</a>
                                    <a class="dropdown-item" href="/pl">pl</a>
                                </div>
                            </div>
                            {#                    -------------#}
                            {#                                                    <a class="nav-link" href="#">Pricing</a>#}
                        </li>
                    </ul>
                    <span class="navbar-text">

                        {% if user.is_authenticated %}
                            <a href="/logout"><img border="0" alt="Logout: {{ user }}"
                                                   src="{% static "image/logout.png" %}"></a>

                        {% else %}
                            <nobr><a href="/login"><img border="0" alt="Войти" src="{% static "image/login.png" %}"></a>&nbsp;<a
                                    href="/register"><img border="0" alt="Регистрация"
                                                          src="{% static "image/register.png" %}"></a></nobr>
                        {% endif %}

                    </span>
                </div>
            </nav>

        </div>
    </div>
    <div class="row">
        <div class="col-2" style="padding: 0px">
            <div class="card card-body bg-light">
                {#----- левая боковая панель                ----------------------------------------------#}
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span
                                        class="glyphicon glyphicon-folder-close">
                            </span>{% trans "Главная" %}</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-pencil text-primary"></span><a
                                                href="/">Home</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-flash text-success"></span><a
                                                href="/admin/">Admin</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-file text-info"></span><a
                                                href="./145/rate_by_week">{% trans "Таблица USD за неделю" %}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-comment text-success"></span><a
                                                href="/">BlaBla2</a>
                                            <span class="badge">42</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span
                                        class="glyphicon glyphicon-th">
                            </span>{% trans "Курсы с amcharts" %}</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="/145/amcharts">USD</a> <span
                                                class="label label-success">$$$$</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/298/amcharts">RUB</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/292/amcharts">EUR</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span
                                        class="glyphicon glyphicon-user">
                            </span>{% trans "Курсы с matplotlib" %}</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="/145/matplotlib">USD</a> <span
                                                class="label label-info">$</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/298/matplotlib">RUB</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/292/matplotlib">EUR</a>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                   <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><span
                                        class="glyphicon glyphicon-user">
                            </span>{% trans "Курсы с plotly" %}</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="/145/plotly">USD</a> <span
                                                class="label label-info">$</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/298/plotly">RUB</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/292/plotly">EUR</a>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span
                                        class="glyphicon glyphicon-file">
                            </span>{% trans "Регистрация" %}</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-usd"></span><a
                                                href="/login">Sign in</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span><a
                                                href="/logout">LogOut</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tasks"></span><a
                                                href="/register">Register</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {#  ----- end левая боковая панель                ----------------------------------------------#}
            </div>
        </div>

        <div class="col-8" style="padding: 1px">
            <div class="card card-footer bg-light">{% block common_body %}{% endblock %}
            </div>
        </div>
        {#  ----- правая боковая панель                ----------------------------------------------#}
        {% if user.is_authenticated %}
            <div class="col-2">
                <div class="card card-body bg-ligth">
                    <div class="card bg-light" style="width: 100%;">
                        <img class="card-img-top" src="{% static "image/foo.png" %}" alt="Курс">
                    </div>
                </div>
            </div>

        {% else %}
            <nobr><a href="/login"><img border="0" alt="Войти" src="{% static "image/login.png" %}"></a></nobr>
        {% endif %}

        {#  ----- end правая боковая панель                ----------------------------------------------#}
    </div>
    <div class="row">
        <div class="col-12 bg-primary">
            <!-- Footer -->
            <footer class="page-footer font-small blue pt-4">

                <!-- Footer Links -->
                <div class="container-fluid text-center text-md-left">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-6 mt-md-0 mt-3">

                            <!-- Content -->
                            <h5 class="text-uppercase">{% trans "Проект Джанго" %} </h5>
                            <p>BlaBlaBla</p>

                        </div>
                        <!-- Grid column -->

                        <hr class="clearfix w-100 d-md-none pb-3">

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">

                            <!-- Links -->
                            <h5 class="text-uppercase">{% trans "Ссылки" %}</h5>

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!" class="text-dark">{% trans "Ссылка 1" %}</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-dark">{% trans "Ссылка 2" %}</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-dark">{% trans "Ссылка 3" %}</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-dark">{% trans "Ссылка 4" %}</a>
                                </li>
                            </ul>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">

                            <!-- Links -->
                            <h5 class="text-uppercase">{% trans "Закладки" %}</h5>

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!" class="text-dark">{% trans "Закладка 1" %}</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-dark">{% trans "Закладка 2" %}</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-dark">{% trans "Закладка 3" %}</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-dark">{% trans "Закладка 4" %}</a>
                                </li>
                            </ul>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Footer Links -->

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2018 Copyright:
                    <a href="/"> Django progect</a>
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->
        </div>
    </div>
</div>

</body>
</html>