<html>
<title>Главная</title>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="card card-body bg-light" style="padding: 0px, height: 100%">Col_1</div>
        </div>

        <div class="col-8">
            <div class="card card-body bg-light" style="padding: 0px">{{ table|safe }}
            </div>
        </div>

        <div class="col-2">
            <div class="card card-body bg-light" style="padding: 0px, height: 100%">Col_3</div>
        </div>
    </div>
</div>

</body>
</html>