<html>
<title>Главная</title>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-header bg-light">
                <form class="form-signin" method="post" action="login.html">

                    <input type="text" name="username">
                    <input type="password" name="password">
                    <button class="btn btn-primary" style="width: 200px"
                            type="submit">Sign in
                    </button>
                    <div class="checkbox mb-3">
                    </div>
                </form>
                <h3>{{ user }}</h3>
                <form method="post" action="logout.html">
                    <button class="btn btn-primary" style="width: 200px"
                            type="submit">Logout
                    </button>
                    <div class="checkbox mb-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="padding: 0px">
            <div class="card card-body bg-light">Col_1</div>
        </div>

        <div class="col-8" style="padding: 0px">
            <div class="card card-footer bg-light">{{ table|safe }}
            </div>
        </div>

        <div class="col-2" style="padding: 0px">
            <div class="card card-body bg-light">Col_3</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-body bg-light"
                 style="padding: 0px, height: 100%">
                <a href="./145" class="btn btn-primary btn-lg active"
                   role="button" aria-pressed="true">USD</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>