{% extends "my_exrate/common.html" %}

{% block common_title %}
    Регистрация
{% endblock %}

{% block common_body %}
    <form class="form-signin-sm" method="post" action="login">

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username2" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password2" name="password">
        </div>
        <button class="btn btn-primary" style="width: 200px" type="submit" id="login2">Login
        </button>
    </form>

{% endblock %}
