{% extends "my_exrate/common.html" %}

{% block common_title %}
    Регистрация
{% endblock %}

{% block common_body %}
    <form class="form-signin" method="post" action="register_user">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username3" name="username">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email3" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password3" name="password">
        </div>
        <button id="register" class="btn btn-primary" style="width: 200px" type="submit">Register
        </button>
    </form>
{% endblock %}